<h1> Welcome</h1>

<p> Instructions</p>

<p> Rock, paper, Scissors is played by two playes as follows:<br>
  Each player faces each other with a closed fist.<br>
  After the count of three each player shall reveal their 'hand'.<br>
  A closed fist represents a rock, and beats paper which is represented by a flat palm.<br>
  Scissors is represented by two open fingers and beats paper, but gets beat by rock.<br>
  Paper wraps around rock, and therefore paper will win against rock.<br>
  Where two players have the same hand, the result is declared a draw and the game shall be replayed.
</P>
